# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.jar
*.war
*.ear

# IntelliJ
.idea/
*.iml
out/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Eclipse
.project
.classpath

# Others
*.swp
